.content-course{
  width: 100vw;
  height: 100vh;
  background: $color5;

  @import "courses/header";

  main {
    width: 100%;
    padding: 1.4rem;
    margin-top: -2rem;
    background: $color5;
    border-radius: 2.4rem 2.4rem 0 0;

    h3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      span {
        color: darken($color4, 10);
      }
      p {
        font-size: 0.8rem;
        color: lighten($color3, 25);
      }
    }

    .categories {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 0 1rem 0 1rem;

      .category {
        background: $color1;
        border-radius: 1rem;
        height: 8.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          background: lighten($color1, 10);
        }

        img {
          width: 60px;
          height: 60px;
        }

        span {
          color: white;
        }

        p {
          color: #ccc;
        }

      }
    }
  }
}
